<!DOCTYPE html >
<html ng-app="weatherLund">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"></link>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>
		<script type="text/javascript" src="js/ui-bootstrap-custom-tpls-1.3.3.min.js"></script>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	</head>
	<body ng-controller="weatherLundController">
		<div class="jumbotron">
			<div class="text-center">
			</div>
			<img ng-src="img/logga_transparent.png" class="img-responsive center-block" width="12%" height="12%" />
			<div ng-show="panel.weather">
				<h5 class="text-center">Last checked for data at {{ today | date:'HH:mm' }}</h5>
			</div>
			<div ng-show="panel.weather" class="text-center">
				<button class="btn btn-default" type="submit" ng-click="loadData()"><span class="glyphicon glyphicon-refresh"></span></button>
				<button type="submit" class="btn btn-default" ng-click="setGraph(0)" ng-class="{ active: graphView == 0 }"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
				<button type="submit" class="btn btn-default" ng-click="setGraph(1)" ng-class="{ active: graphView == 1 }"><span class="glyphicon glyphicon-stats"></span></button>
				<button type="submit" class="btn btn-info" ng-click="panel.selectTab(0); panel.weather = false"><span class="glyphicon glyphicon-home"></span></button>
			</div>
		</div>
		<div class="container-fluid">
			<nav-tabs></nav-tabs>
		</div>
		
		<footer>
			<div class="container-fluid">
				<div>
					<img ng-src="img/logga.jpg" class="img-responsive center-block" width="10%" height="10%" />
				</div>
				<p class="text-center">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> Retzner Environmental Consulting 2014-{{ today | date:'yyyy' }}</p>
			</div>
		</footer>
	</body>
</html>