<!-- nav tab template -->
<section>
	<ul class="nav nav-tabs nav-justified">
		<li ng-class="{ active: panel.isSelected(1) }">
			<a href ng-click="panel.selectTab(1)">Latest</a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }">
			<a href ng-click="panel.selectTab(2)">Weekly</a>
		</li>
		<li ng-class="{ active: panel.isSelected(3) }">
			<a href ng-click="panel.selectTab(3)">Monthly</a>
		</li>
		<li ng-class="{ active: panel.isSelected(4) }">
			<a href ng-click="panel.selectTab(4)"><span class="glyphicon glyphicon-info-sign"</span></a>
		</li>		
		<li ng-class="{ active: panel.isSelected(5) }">
			<a href ng-click="panel.selectTab(5)">Team</a>
		</li>
	</ul>
	<latest-view ng-show="panel.isSelected(1)"></latest-view>
	<week-view ng-show="panel.isSelected(2)"></week-view>
	<month-view ng-show="panel.isSelected(3)"></month-view>
	<info-view ng-show="panel.isSelected(4)"></info-view>
	<team-view ng-show="panel.isSelected(5)"></team-view>			
</section>	