<!-- nav tab template -->
<section>
	<ul ng-hide="panel.weather" class="nav nav-tabs nav-justified">
		<li ng-class="{ active: panel.isSelected(0) }">
			<a href ng-click="panel.selectTab(0)">Front page</a>
		</li>
		<li ng-class="{ active: panel.isSelected(1) }">
			<a href ng-click="panel.selectTab(1)">Team</a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }">
			<a href ng-click="panel.selectTab(2)">Media</a>
		</li>	
		<li ng-class="{ active: panel.isSelected(3) }">
			<a href ng-click="panel.weather = true; panel.selectTab(3)">Weather</a>
		</li>	
	</ul>
	<ul ng-show="panel.weather" class="nav nav-tabs nav-justified">
		<li ng-class="{ active: panel.isSelected(3) }">
			<a href ng-click="panel.selectTab(3)">Latest</a>
		</li>
		<li ng-class="{ active: panel.isSelected(4) }">
			<a href ng-click="panel.selectTab(4)">Weekly</a>
		</li>
		<li ng-class="{ active: panel.isSelected(5) }">
			<a href ng-click="panel.selectTab(5)">Monthly</a>
		</li>
		<li ng-class="{ active: panel.isSelected(6) }">
			<a href ng-click="panel.selectTab(6)"><span class="glyphicon glyphicon-info-sign"</span></a>
		</li>		
	</ul>
	<index-view ng-show="panel.isSelected(0)"></index-view>
	<team-view ng-show="panel.isSelected(1)"></team-view>
	<latest-view ng-show="panel.isSelected(3)"></latest-view>
	<media-view ng-show="panel.isSelected(2)"></media-view>
	<week-view ng-show="panel.isSelected(4)"></week-view>
	<month-view ng-show="panel.isSelected(5)"></month-view>
	<info-view ng-show="panel.isSelected(6)"></info-view>
</section>	